@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, autumn;
}

@plugin "daisyui/theme" {
  name: 'autumn';
  --radius-box: 0;
  --radius-btn: 0;
  --radius-badge: 0;
  --radius-input: 0;
  --radius-tab: 0;
  --radius-selector: 0;
  --radius-field: 0;
}

html,
body,
#root {
  background-color: #fff !important;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}
